<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar2.css}" href="/css/sidebar2.css">
&lt;!&ndash;    <link rel="stylesheet" type="text/css" th:href="@{css/mainStyle.css}" href="/css/mainStyle.css">&ndash;&gt;
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<nav class="sidebar">
    <div class="sidebar-inner">
    <header class="sidebar-header">
        <button type="button" class="sidebar-burger"  onclick="toggleSidebar()">
            <i class='bx bx-menu'></i>
        </button>
<img src="/img/bilabonnement_logo_white.png" alt="" class="sidebar-logo">
    </header>
    <nav class="sidebar-menu">
        <button type="button">
            <i class="bx bx-home"></i>
            <span>Hjem</span>
        </button>
        <button type="button">
            <i class='bx bx-server' ></i>
            <span>System Adminstrator</span>
        </button>
        <button type="button">
            <i class="bx bx-car"></i>
            <span>Reception</span>
        </button>
        <button type="button">
            <i class="bx bxs-car-mechanic"></i>
            <span>Mekaniker</span>
        </button>
        <button type="button">
            <i class="bx bx-credit-card-front"></i>
            <span>Salg</span>
        </button>

    </nav>
    </div>


</nav>
<script type="text/javascript">
    const toggleSidebar = () => document.body.classList.toggle("open");


</script>

</body>
</html>-->
