<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{css/welcomepage.css}" href="/css/welcomepage.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <link rel="apple-touch-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <title>sysadminpanel</title>
</head>
<body>
<div class="head">
    <h2><i style="margin-right: 20px" class="bx bxs-dashboard"></i>Reception</h2>
</div>
<div>
    <a href="/cars" class="link">
        <h3>Bil overblik</h3>
    </a>
    <a href="/create-carmodel" class="link">
        <h3>Opret bil model</h3>
    </a>
    <a href="/create-car" class="link">
        <h3>Opret bil</h3>
    </a>
    <a href="/reception" class="link">
        <h3>Leasing side</h3>
    </a>
    <a href="/create-customer" class="link">
        <h3>Opret ny kunde</h3>
    </a>
    <a href="/customers" class="link">
        <h3>Kunde liste</h3>
    </a>

</div>
</body>
</html>