<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{css/welcomepage.css}" href="/css/welcomepage.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>sysadminpanel</title>
</head>
<body>
<div class="head">
  <h2><i style="margin-right: 20px" class="bx bxs-car-crash"></i>Mekaniker</h2>
</div>
<div>
  <a href="/mechanic" class="link">
    <h3>Vis mekaniker side</h3>
  </a>
</div>
</body>
</html>