:root {
    --color-default: #062d35;
    --color-white: #fff;
    --color-body: #ffffff;
}

body {
    background-color: #ffffff;
    color: black;
    font-size: large;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}


.home-section {
    position: relative;
    background-color: var(--color-white);
    min-height: 100vh;
    top: 0;
    left: 90px;
    width: calc(100% - 90px);
    transition: all .5s ease;
    z-index: 2;
}

.home-section .text {
    display: inline-block;
    color: var(--color-body);
    left: 78px;
    width: calc(100% - 90px);
    font-size: 25px;
    font-weight: 500;
    margin: 18px;
}


a {
    text-decoration: none;
    color: inherit;
    line-height: 1;
}

h1 {
    padding: 25px 25px;
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.searchbar {
    display: block;
    height: 30px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.button-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /*margin-left: 10%;*/
    gap: 30px;
    width: fit-content;

}

.search-grid {
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background-color: #0a4d5b;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    font-size: 100%;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px 11px;
    gap: 20px;

}

button:active {
    background-color: #062d35;
}

button:hover {
    opacity: 0.6;

}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 12px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
