body,html{
    font-family: 'Montserrat',sans-serif;
    background: #062d35;
    height: 100vh;
}

form{
    height: max-content;
    width: 680px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 600px;
    left: 50%;
    border-radius: 25px;
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 25px 35px;
}
form *{
    font-family: 'Montserrat',sans-serif;
    color: #ffffff;
    letter-spacing: 0.6px;
    outline: none;
    border: none;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


button:hover{
    background-color: rgba(255,255,255,0.5);
    color: #ffffff;
}

h1{
    padding: 5px 30px;
    font-size: 32px;
    font-weight: 800;
    line-height: 42px;
    text-align: center;
    color: #5cdffa;
    font-family: 'Montserrat', sans-serif;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

table td, table th{
    padding: 10px 3px;
}
