:root{
    --color-default:#062d35;
    --color-white:#fff;
    --color-body:#062d35;

}

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
}

/*Placement and styling of the sidebar*/
.sidebar{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width: 88px;
    padding: 6px 14px;
    z-index: 99;
    background-image: linear-gradient(to bottom, #062d35, #0a4d5b);
    position: fixed;
    top: 0;
    left: 0;
}

/*Styling of the icons and placement*/
.sidebar i{
    color: var(--color-white);
    z-index: 10;
    height: 80px;
    line-height: 60px;
    min-width: 50px;
    font-size: 25px;
    text-align: center;
}


/*Adjusts spacing and removed list style*/
.sidebar li {
    position: relative;
    margin: 8px 0;
    list-style: none;
    height: 60px;
}

/*Tooltip placement and box and hides text until mouse hovers over*/
.sidebar li .tooltip{
    position: absolute;
    /*top:-80px;*/
    left:25%;
    z-index: 3;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding: 6px 14px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
}

/*Tooltip box animation*/
.sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 1s ease;
    top:10%;
    transform: translateX(25%);
}

/*Moves icons and overlay to matching height*/
.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    text-decoration: none;
    transition: all .5s ease;
}

/*Textbox white overlay & effect*/
.sidebar li a::after, img:hover::after {
    content: "";
    position: absolute;
    width: 280%;
    height: 70%;
    transform: scaleX(0);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background-color: var(--color-white);
    opacity: 1;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    bottom: 30%;
}

/*Sætter farve og box tilbage til normalt når musen fjernes*/
.sidebar li a:hover::after{
    transform: scaleX(1);
    color: var(--color-default);
}

/*Color transition back to */
.sidebar li a:hover .link_name,
.sidebar li a:hover i{
    transition: all 0.9s ease;
    color: var(--color-default);
}

/*Moves logout bottom down*/
#log_out{
    margin-top: 100%;
}



