<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{../css/showrentalagreement.css}" href="../static/css/showrentalagreement.css">
  <title>Bilabonnement | Opret Leasing Aftale</title>
</head>

<body>

<div1>
  <form method="post" action="/create-rental-agreement">

    <label for="userId">Bruger: </label>
    <select id="userId" name="userId">
      <option th:each="user : ${userlist}"
              th:text="${user.firstName + ' ' + user.lastName}"
              th:value="${user.userId}"></option>
    </select>

    <label for="carId">Bil: </label>
    <select id="carId" name="carId">
      <option th:each="car : ${carlist}"
              th:text="${car.carModel.getManufacturer() + ' ' + car.carModel.getModelName() + ', ' + car.colour + ', ' + car.regNumber}"
              th:value="${car.carId}"></option>
    </select>

    <label for="mthKmId">Kilometer pr. måned: </label>
     <select id="mthKmId" name="mthKmId">
       <option th:each="mthkm : ${kmpricelist}"
               th:text="${mthkm.km + 'km  -  ' + mthkm.price+ 'kr.'}"
               th:value="${mthkm.kmId}"></option>
     </select>

    <label for="startDate">Start Dato: </label>
    <input id="startDate" type="date" name="startDate" required>

    <label for="months">Abonnementslængde: </label>
    <select id="months" type="date" name="months">
      <option value="3">3 måneder</option>
      <option value="6">6 måneder</option>
      <option value="12">12 måneder</option>
      <option value="24">24 måneder</option>
      <option value="36">36 måneder</option>
    </select>

    <div class="checkbox-container">
      <div><label for="deliveryInsurance"> Afleveringsforsikring: </label></div>
      <div><input id="deliveryInsurance" type="checkbox" name="deliveryInsurance"></div>

      <div><label for="selfInsurance"> Lav selvrisiko: </label></div>
      <div><input  id="selfInsurance" type="checkbox" name="selfInsurance"></div>

      <div><label for="winterTires"> Komplette vinterhjul: </label></div>
      <div><input id="winterTires" type="checkbox" name="winterTires"></div>

      <div><label for="viking"> Viking - Vejhjælp: </label></div>
      <div><input id="viking" type="checkbox" name="viking"></div>

      <div><label for="cleverNetwork"> Clever Unlimited Network Elbil: </label></div>
      <div><input id="cleverNetwork" type="checkbox" name="cleverNetwork"></div>

      <div><label for="clever"> Clever Unlimited Elbil: </label></div>
      <div><input id="clever" type="checkbox" name="clever"></div>
    </div>



    <button type="submit" name="submit" value="create"> Opret Aftale </button>
  </form>
</div1>

</body>

<!---Blocks all dates prior to today date from being selected in the datepicker-->
<script>
  var today = new Date().toISOString().split('T')[0];
  document.getElementsByName("startDate")[0].setAttribute('min', today);
</script>
</html>