<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{../css/mainStyle.css}" href="../static/css/mainStyle.css">
    <title>Opret ny bruger - Bilabonnement</title>
</head>
<body>
<form method="post" th:action="@{'/opret-bruger'}">
  <input type="hidden" name="id">
  <label for="email">Email: </label>
  <input id="email" autofocus type="text" required name="email">

  <label for="password">Kodeord: </label>
  <input id="password" type="password" name="password" required>

  <label for="username">Brugernavn: </label>
  <input id="username" type="text" required name="username">

  <label for="firstname">Fornavn: </label>
  <input id="firstname" type="text"  name="firstname">

  <label for="lastname">Efternavn: </label>
  <input id="lastname" type="text"  name="lastname">

  <label for="birthdate">Fødselsdag: </label>
  <input id="birthdate" type="date"  name="birthdate">

  <label for="address">Adresse: </label>
  <input id="address" type="text"  name="address">

  <label for="phonenr">Telefonnummer: </label>
  <input id="phonenr" type="text"  name="phonenr">

  <input type="submit" name="submit" value="create">
</form>
</body>
</html>