<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/createDamageReport.css}" href="/css/createDamageReport.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/damageTable.css}" href="/static/css/damageTable.css">
    <title>Bilabonnement | Opret Skadesreport</title>
</head>
<body>
<nav>
    <div th:insert="fragments/defaultheader"></div>
</nav>
<form method="post" th:action="@{'/create-damagereport'}">



<!--    <a href="/mechanic">
        <button type="button">Fortryd - returner til overblik</button>
    </a>-->

    <label>Du opretter skadesrapport på bil nummer: </label>
    <input type="text" readonly th:value="${carid}" name="carid">

    <label for="placement">Placering: </label>
    <input id="placement" type="text" name="placement" list="placement_options" maxlength="50" required>

    <datalist id="placement_options" style="width: 300px">
        <option value="Front">Front</option>
        <option value="Bagende">Bagende</option>
        <option value="Venstre">Venstre Side</option>
        <option value="Højre">Højre Side</option>
        <option value="Tag">Tag</option>
        <option value="Forrude">Forrude</option>
        <option value="Bagrude">Bagrude</option>
        <option value="Siderude, Venstre, For">Siderude, Venstre, For</option>
        <option value="Siderude, Højre, For">Siderude, Højre, For</option>
        <option value="Siderude, Venstre, Bag">Siderude, Venstre, Bag</option>
        <option value="Siderude, Højre, Bag">Siderude, Højre, Bag</option>
        <option value="Højre forlygte">Højre forlygte</option>
        <option value="Venstre forlygte">Venstre forlygte</option>
        <option value="Højre baglygte">Højre baglygte</option>
        <option value="Venstre baglygte">Venstre baglygte</option>
        <option value="Højre sidespejl">Højre sidespejl</option>
        <option value="Venstre sidespejl">Venstre sidespejl</option>
        <option value="Højre fordør">Højre fordør</option>
        <option value="Venstre fordør">Venstre fordør</option>
        <option value="Højre bagdør">Højre bagdør</option>
        <option value="Venstre bagdør">Venstre bagdør</option>
        <option value="Fælg, højre forhjul">Fælg, højre forhjul</option>
        <option value="Fælg, venstre forhjul">Fælg, venstre forhjul</option>
        <option value="Fælg, højre baghjul">Fælg, højre baghjul</option>
        <option value="Fælg, venstre baghjul">Fælg, venstre baghjul</option>



    </datalist>

    <label for="description">Beskrivelse af skaden: </label>
    <input id="description" type="text" name="description" maxlength="200" required>


    <label for="price">Anslået pris på skaden: </label>
    <input id="price" type="number" name="price" required>

    <input type="hidden" th:value="${carid}" name="carid">
    <input type="hidden" th:value="${rentalagreementid}" name="rentalagreementid">



        <button type="button" onclick="location.href='/end-rentalagreement'">Afslut leasing</button>
    <button type="submit" name="submit" value="create">Opret skade</button>
    <button style="background-color: #b23030;" type="button" name="cancel" value="Fortryd"
            onclick="location.href='/mechanic'">Fortryd</button>

    <table class="sortable, styled-table" id="table">


        <thead style="position: sticky; top: 0">
        <tr>
            <th>Placering</th>
            <th>Beskrivelse</th>
            <th>Pris</th>
            <th>Slet skade</th>
        </tr>
        </thead>

        <tbody id="inputrows">

        <tr class="item" th:each="damage:${damages}">
            <td th:text="${damage.getPlacement()}">Placering</td>
            <td style="text-align: left" th:text="${damage.getDescription()}">Beskrivelse</td>
            <td style="text-align: right" th:text="${damage.getPrice()} + ' kr'">Pris</td>
            <td style="background-color: #b23030" ><a class="underline"
                th:href="@{'/delete-damage/' + ${damage.getDamageId()} + '/' + ${carid} + '/' + ${rentalagreementid}}"
                                                      onclick="return confirm('Slet skade fra oversigten?');">Slet</a></td>
            <!---When clicking on delete-damage, get of carId and rentalId-->

        </tr>
        </tbody>

    </table>

</form>







</body>

</html>