<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{../css/mainStyle.css}" href="../static/css/mainStyle.css">
    <link rel="icon" type="image/x-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <link rel="apple-touch-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <title>Bilabonnement | Fejlmeddelelse</title>
</head>
<body>
<nav>
    <ul>
        <div th:insert="fragments/defaultheader"></div>
    </ul>
</nav>
<div class="home-section">
<h1>404: Dette er en ugyldig side..</h1>
<input type="button"  value="Gå tilbage" onclick="history.back()"></div>
</div>
</body>
</html>