<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reception - Bilabonnement</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/table.css}" href="../static/css/table.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/mainStyle.css}" href="../static/css/mainStyle.css">
</head>
<body>
<nav>
    <div th:insert="fragments/sysadminheader"></div>
</nav>
<div class="home-section">
    <h1>Velkommen til receptionen</h1>

<!--JONATHAN & Thomas-->
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
<input type="text" id="search" placeholder="Søg">
<table class="sortable" id="table">
    <tr>
        <th>ID</th>
        <th>Ledig</th>
        <th>Producent</th>
        <th>Model Navn</th>
        <th>Farve</th>
        <th>Stelnummer</th>
        <th>Nummerplade</th>
        <th>Stålpris</th>
        <th>Månedlig ydelse</th>
        <th>Gearkasse</th>
        <th>C02 Emission</th>
        <th>Brændstoftype</th>
        <th>Opdater</th>
        <th>Slet</th>
    </tr>
    </thead>
    <tbody id="inputrows">
    <tr class="item" th:each="car:${carlist}" >
        <td th:text="${car.carId}">ID</td>
        <td th:if="${car.isAvailable == 1}" th:text="Ledig">Ledig</td>
        <td th:if="${car.isAvailable == 0}" th:text="Udlejet">Udlejet</td>
        <td th:text="${car.carModel.getManufacturer}">Producent</td>
        <td th:text="${car.carModel.getModelName}">Model Navn</td>
        <td th:text="${car.colour}">Farve</td>
        <td th:text="${car.VIN}">Stelnummer</td>
        <td th:text="${car.regNumber}">Nummerplade</td>
        <td th:text="${car.steelPrice}">Stålpris</td>
        <td th:text="${car.mthPrice}">Månedlig ydelse</td>
        <td th:text="${car.transmission}">Gearkasse</td>
        <td th:text="${car.carModel.getCo2Emission}">C02 Emission</td>
        <td th:text="${car.carModel.getFuelType}">Brædnstoftype</td>
        <td><a th:href="@{'/opdater-bil/' + ${car.carId}}">Opdater</a></td>
        <td><a th:href="@{'/slet-bil/' + ${car.carId}}" onclick="return confirm('Er du sikker på du ønsker at slette denne bil?');">Slet</a></td>
    </tr>
    </tbody>
</table>
<!--
<script>
    var $rows = $('#table #inputrows');
    $('#search').keyup(function() {
        var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();

        $rows.show().filter(function() {
            var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
            return !~text.indexOf(val);
        }).hide();
    });
</script>-->
<script>
    $(document).ready(function(){
        $("#search").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#inputrows tr").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</body>
</html>