<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement | Reception</title>
    <link rel="stylesheet" type="text/css" th:href="@{../css/table.css}" href="../static/css/table.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/mainStyle.css}" href="../static/css/mainStyle.css">
</head>
<body>
<nav>
    <div th:insert="fragments/defaultheader"></div>
</nav>
<div class="home-section">
    <h1>Leasing</h1>
    <div class="button-grid">
<!--<div><a href="/create-car">
    <button>Opret ny bil</button>
</a></div>
        <div><a href="/create-carmodel">
            <button>Opret ny bil model</button>
        </a></div>-->

        <div><a href="/create-rental-agreement">
            <button>Opret ny leasing aftale</button>
        </a></div>

        <div><a href="/show-rental-agreement">
            <button>Se alle leasing aftaler</button>
        </a></div>

        <div><a href="/create-customer">
            <button>Opret ny kunde</button>
        </a></div>


    </div>

<div class="search-grid">
    <!--JONATHAN & Thomas-->
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <input type="text" class="searchbar" id="search" placeholder="Søg">
</div>
    <table class="sortable, styled-table" id="table">
        <thead style="position: sticky; top: 0">
        <tr>
            <th>ID</th>
<!--            <th>Ledig</th>-->
            <th>Producent</th>
            <th>Model navn</th>
            <th>Farve</th>
            <th>Stelnummer</th>
            <th>Nummerplade</th>
            <th>Stålpris</th>
            <th>Månedlig ydelse</th>
            <th>Gearkasse</th>
            <th>C02 Udledning</th>
            <th>Drivmiddel</th>
            <th>Rækkevidde</th>
        </tr>
        </thead>
        <tbody id="inputrows">
        <tr class="item" th:each="car:${carlist}" th:ondblclick="'javascript:rowClicked(\'' + ${car.carId} + '\');'">
            <td th:text="${car.carId}">ID</td>
<!--            <td th:if="${car.isAvailable == 1}" th:text="Ledig">Ledig</td>
            <td th:if="${car.isAvailable == 0}" th:text="Udlejet">Udlejet</td>-->
            <td th:text="${car.carModel.getManufacturer}">Producent</td>
            <td th:text="${car.carModel.getModelName}">Model Navn</td>
            <td th:text="${car.colour}">Farve</td>
            <td th:text="${car.VIN}">Stelnummer</td>
            <td th:text="${car.regNumber}">Nummerplade</td>
            <!--<td th:text="$car.steelPrice}">Stålpris</td>-->
            <td th:text="${#numbers.formatDecimal(car.steelPrice,0,0)} + ' dkk'">Stålpris</td>
            <!--<td th:text="${car.mthPrice}">Månedlig ydelse</td>-->
            <td th:text="${#numbers.formatDecimal(car.mthPrice,0,0)} + ' dkk'">Månedlig ydelse</td>
            <td th:text="${car.transmission}">Gearkasse</td>
            <!--<td th:text="${car.carModel.getCo2Emission}">C02 Emission</td>-->
            <td style="text-align: right" th:text="${#numbers.formatDecimal(car.carModel.getCo2Emission,0,0)} + ' g/km'">C02 Emission</td>
            <td th:text="${car.carModel.getFuelType}">Drivmiddel</td>
            <td th:if="${car.carModel.getFuelType == 'El'}" th:text="${#numbers.formatDecimal(car.carModel.getRange,0,0)} + ' km'">Rækkevidde</td>
            <td th:unless="${car.carModel.getFuelType == 'El'}" th:text="${car.carModel.getRange} + ' km/l'">Rækkevidde</td>

        </tr>
        </tbody>
    </table>
    </div>
    <script>
        $(document).ready(function () {
            $("#search").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#inputrows tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

<script>
    function rowClicked(value) {
        location.href = "/update-car/" + value;
    }
</script>
</body>
</html>