<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{../css/login.css}" href="../static/css/login.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/mainStyle.css}" href="../static/css/mainStyle.css">
    <link rel="icon" type="image/x-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <link rel="apple-touch-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <title>Bilabonnement | Login</title>

</head>
<!--//FREDERIK-->
<body>
    <div>
        <form method="post" th:action="@{'/login'}">
            <img th:src="@{/img/bilabonnement_logo_white.png}" src="/img/bilabonnement_logo_white.png" style="width: 50%; height: 50px">
            <h3>Login</h3>
            <span th:if="${errorMessage}"  th:text="${errorMessage}" style="color: red"></span>
            <input type="hidden" name="id">
            <label for="email">Email: </label>
            <input id="email" autofocus type="text" required name="email">
            <label for="password">Kodeord: </label>
            <input id="password" type="password" name="password" required>
            <button type="submit" class="button-index" name="submit" value="login">Login</button>
        </form>
    </div>
</body>
</html>