<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Hej</title>
</head>
<body>

<form method="post" th:action="@{'/login'}">
    <input type="hidden" name="id">
    <label for="email">Email: </label>
    <input id="email" autofocus type="text" required name="email">
    <label for="password">Password: </label>
    <input id="password" type="password" name="password" required>
    <input type="submit" name="submit" value="login">
</form>
</body>
</html>