<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{../css/mainStyle.css}" href="../static/css/mainStyle.css">
    <title>Bilabonnement | Salg</title>
</head>
<body>
<nav>
    <div  th:replace="fragments/header"></div>
    <div th:if="${roles.contains('System adminstrator')}" th:insert="fragments/defaultheader"></div>
    <div th:if="${roles.contains('Reception')}" th:insert="fragments/defaultheader :: cars"></div>
    <div th:if="${roles.contains('Reception')}" th:insert="fragments/defaultheader :: leasing"></div>
    <div th:if="${roles.contains('Reception')}" th:insert="fragments/defaultheader :: customers"></div>
    <div th:if="${roles.contains('Mekaniker')}" th:insert="fragments/defaultheader :: mechanic"></div>
    <div th:if="${roles.contains('Salg')}" th:insert="fragments/defaultheader :: sales"></div>
    <div th:insert="fragments/footer"></div>
</nav>
<div class="home-section">
<h1>Velkommen til salgssiden</h1>
</div>
</body>
</html>