<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{../css/table.css}" href="../static/css/table.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/mainStyle.css}" href="../static/css/mainStyle.css">
    <link rel="stylesheet" type="text/css" th:href="@{css/welcomepage.css}" href="/css/welcomepage.css">
    <link rel="icon" type="image/x-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <link rel="apple-touch-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <title>Bilabonnement | Salg</title>
</head>
<body>
<nav>
    <div  th:replace="fragments/header"></div>
    <div th:if="${roles.contains('System adminstrator')}" th:insert="fragments/defaultheader"></div>
    <div th:if="${roles.contains('Dataregistrering')}" th:insert="fragments/defaultheader :: cars"></div>
    <div th:if="${roles.contains('Dataregistrering')}" th:insert="fragments/defaultheader :: leasing"></div>
    <div th:if="${roles.contains('Dataregistrering')}" th:insert="fragments/defaultheader :: customers"></div>
    <div th:if="${roles.contains('Skade og udbedring')}" th:insert="fragments/defaultheader :: mechanic"></div>
    <div th:if="${roles.contains('Forretningsudvikler')}" th:insert="fragments/defaultheader :: sales"></div>
    <div th:insert="fragments/footer"></div>
</nav>

<!--Thomas & Frederik-->
<div class="home-section">
    <h1>Salgs overblik for <span th:text="${month} + ' ' + ${yearNow}"></span></h1>

    <div class="panel-container">

        <div class="panel">
            <h2><i style="margin-right: 20px" class="bx bx-list-minus"></i>Biler udlejet</h2>
            <span th:text="${carsRented}"></span>
        </div>
        <div class="panel">
            <h2><i style="margin-right: 20px" class="bx bx-list-plus"></i>Biler ledige</h2>
            <span th:text="${carsAvailable}"></span>
        </div>
        <div class="panel">
            <h2><i style="margin-right: 20px" class="bx bxs-bank"></i>Omsætning</h2>
            <span th:text="${#numbers.formatDecimal(rentalRevenue, 0, 'COMMA', 2, 'POINT')} + ' kroner'"></span>
        </div>
    </div>
    <br>
    <h3> Månedlig overblik for <span th:text="${yearLast}"></span>:</h3>
    <div th:replace="fragments/tablefragment"></div>
    <td th:each="revenue : ${carRevenueListLastYear}" th:text="${#numbers.formatDecimal(revenue, 1, 'COMMA', 2, 'POINT')}"></td>
    </tr>
    </tbody>
    </table>
    <br>    <br>
    <h3> Månedlig overblik for <span th:text="${yearNow}"></span>:</h3>
    <div th:replace="fragments/tablefragment"></div>
    <td  th:each="revenue : ${carRevenueList}" th:text="${#numbers.formatDecimal(revenue, 1, 'COMMA', 2, 'POINT')}"></td>

    </tr>
    </tbody>
    </table>

    <br>    <br>
    <h3> Månedlig overblik for <span th:text="${yearNext}"></span>:</h3>
    <div th:replace="fragments/tablefragment"></div>
    <td th:each="revenue : ${carRevenueNextYear}" th:text="${#numbers.formatDecimal(revenue, 0, 'COMMA', 2, 'POINT')}"></td>
    </tr>
    </tbody>
    </table>



</div>


</div>
</body>
</html>