<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/showrentalagreement.css}" href="/css/showrentalagreement.css">
    <title>Leasing Aftale</title>
</head>
<body>
<form>

    <label>Leasing Aftale ID: </label>
    <input type="text" readonly th:value="${agreement}" name="carid">

    <label for="lastname">Efternavn: </label>
    <input id="lastname" type="text" name="lastname" maxlength="50">

    <label for="birthdate">Fødselsdag: </label>
    <input id="birthdate" type="date" name="birthdate">

    <label for="email">Email: </label>
    <input id="email" autofocus type="text" required name="email" maxlength="255">

    <label for="address">Adresse: </label>
    <input id="address" type="text" name="address" maxlength="255">

    <label for="phonenr">Telefonnummer: </label>
    <input id="phonenr" type="text" name="phonenr" maxlength="25">

    <button type="submit" name="submit" value="create">Opret</button>

</body>
</html>