<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/rentalagreement.css}" href="/css/rentalagreement.css">
    <link rel="icon" type="image/x-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <link rel="apple-touch-icon" href="/img/bilabonnementlogo.ico" th:href="@{/img/bilabonnementlogo.ico}">
    <title>Bilabonnement | Leasing Aftale</title>
</head>
<body>
<div  th:replace="fragments/header"></div>
<div th:insert="fragments/footer"></div>

<form>
 <table>
         <h1>Leasing Aftale</h1>
     <tr>
         <td>Navn</td>
         <td style="text-align: right" th:text="${agreement.getUser().getFirstName()}+' '+${agreement.getUser().getLastName()}">
     </tr>
     <tr>
         <td>Fødselsdag</td>
         <td style="text-align: right" th:text="${agreement.getUser().getBirthdate()}">
     </tr>
     <tr>
         <td>Adresse</td>
         <td style="text-align: right" th:text="${agreement.getUser().getAddress()}">
     </tr>
     <tr>
         <td>Telefon</td>
         <td style="text-align: right" th:text="${agreement.getUser().getPhoneNumber()}">
     </tr>
     <tr>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td style="font-weight: bold; color: #5cdffa;" th:text="${agreement.getCar().getCarModel().getManufacturer()} +
         ' ' + ${agreement.getCar().getCarModel().getModelName()}">
         <td style="text-align: right; font-weight: bold; color: #5cdffa"
             th:text="${#numbers.formatDecimal(agreement.getCar().getMthPrice(),0,0)} + ' dkk/md.'">">
     </tr>
     <tr>
         <td>Forsikring (Ansvar- og Kasko)</td>
         <td style="text-align: right">Inkluderet</td>
     </tr>
     <tr>
         <td>Grøn ejerafgift</td>
         <td style="text-align: right">Inkluderet</td>
     </tr>
     <tr>
         <td>Service- og garantiaftale</td>
         <td style="text-align: right">Inkluderet</td>
     </tr>
     <tr>
         <td th:text="${agreement.getMthKm().getKm()} + ' km.'">
         <td style="text-align: right" th:if="${agreement.getMthKm().getPrice() != 0}" th:text="${#numbers.formatDecimal(agreement.getMthKm().getPrice(),0,0)} + ' dkk/md.'">
         <td style="text-align: right" th:if="${agreement.getMthKm().getPrice() == 0}">Inkluderet</td>
     </tr>
     <tr th:each="addon:${addons}">
         <td th:text="${addon.getAddonName()}">
         <td style="text-align: right" th:text="${#numbers.formatDecimal(addon.getPrice(),0,0)} + ' dkk/md.'">
     </tr>
     </tr>
     <tr>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td></td>
         <td></td>
     </tr>
     <tr>
         <td style="font-size: 20px; color: #5cdffa; font-weight: 800">Totalpris</td>
         <td style="font-size: 20px; color: #5cdffa; text-align: right; font-weight: 800" th:text="${#numbers.formatDecimal(agreement.getMthPrice(),0,0)} + ' dkk/md.'">
     </tr>

    </table>
    </form>
</body>
</html>