<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/showcontent.css}" href="/css/showcontent.css">
    <title>Leasing Aftale</title>
</head>
<body>
<form>

    <label>Leasing Aftale Nummer: </label>
    <input type="text" readonly th:value="${agreement.getRentalId()}">

    <label>Fornavn: </label>
    <input type="text" readonly th:value="${agreement.getUser().getFirstName()}">

    <label>Efternavn: </label>
    <input type="text" readonly th:value="${agreement.getUser().getLastName()}">

    <label>Telefon: </label>
    <input type="text" readonly th:value="${agreement.getUser().getPhoneNumber()}">

    <label>Adresse: </label>
    <input type="text" readonly th:value="${agreement.getUser().getAddress()}">

    <label>Fødselsdag: </label>
    <input type="text" readonly th:value="${agreement.getUser().getBirthdate()}">
    <br>
    <label>Bil: </label>
    <input type="text" readonly th:value="${agreement.getCar().getCarModel().getManufacturer()} +
    ' | ' + ${agreement.getCar().getCarModel().getModelName()}">

    <label>Nummerplade: </label>
    <input type="text" readonly th:value="${agreement.getCar().getRegNumber()}">
    <br>
    <label>Ekstra tilkøb: </label>
    <input type="text" readonly th:value="${agreement.getMthKm().getKm()} + 'km - ' + ${agreement.getMthKm().getPrice()} + 'kr'">
    <input type="text" readonly th:each="addon : ${addons}"
     th:value="${addon.getAddonName()} + ' - ' + ${addon.getPrice()} + 'kr'">

    <button type="submit" name="submit" value="create">Opret</button>

    </form>
</body>
</html>