<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/updateuser">

    <input type="hidden" name="id" th:value="${user.userId}">
    <label for="email">Email: </label>
    <input id="email" autofocus type="text" required name="email" th:value="${user.email}">

    <label for="password">Kodeord: </label>
    <input id="password" type="password" name="password" th:value="${user.password}" required>

    <label for="username">Brugernavn: </label>
    <input id="username" type="text" required name="username" th:value="${user.username}">

    <label for="firstname">Fornavn: </label>
    <input id="firstname" type="text"  name="firstname" th:value="${user.firstName}">

    <label for="lastname">Efternavn: </label>
    <input id="lastname" type="text"  name="lastname" th:value="${user.lastName}">

    <label for="birthdate">Fødselsdag: </label>
    <input id="birthdate" type="date"  name="birthdate" th:value="${user.birthdate}">

    <label for="address">Adresse: </label>
    <input id="address" type="text"  name="address" th:value="${user.address}">

    <label for="phonenr">Telefonnummer: </label>
    <input id="phonenr" type="text"  name="phonenr" th:value="${user.phoneNumber}">

    <input type="submit" name="submit" value="Opdater bruger">

</form>
</body>
</html>