<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/showcontent.css}" href="/css/showcontent.css">
    <title>Bilabonnement | Opdater bruger</title>
</head>
<body>
<form method="post" action="/update-user">

    <div style="background-color: #b23030; margin-left: 90%; " ><a class="underline" style="text-decoration: none" th:href="@{'/delete-user/' + ${user.userId}}"
                                              onclick="return confirm('Er du sikker på du ønsker at slette denne bruger?');">Slet</a></div>
    <h2>Opdater bruger</h2>
    <input type="hidden" name="userId" th:value="${user.userId}">

    <label for="email">Email: </label>
    <input id="email" autofocus type="text" required name="email" th:value="${user.email}">

    <label for="password">Kodeord: </label>
    <input id="password" type="password" name="password" th:value="${user.password}" required>

    <label for="username">Brugernavn: </label>
    <input id="username" type="text" required name="username" th:value="${user.username}">

    <label for="firstname">Fornavn: </label>
    <input id="firstname" type="text" name="firstName" th:value="${user.firstName}">

    <label for="lastname">Efternavn: </label>
    <input id="lastname" type="text" name="lastName" th:value="${user.lastName}">

    <label for="birthdate">Fødselsdag: </label>
    <input id="birthdate" type="date" name="birthdate" required th:value="${user.birthdate}">

    <label for="address">Adresse: </label>
    <input id="address" type="text" name="address" th:value="${user.address}">

    <label for="phonenr">Telefonnummer: </label>
    <input id="phonenr" type="text" name="phoneNumber" th:value="${user.phoneNumber}">

    <div class="checkbox-container">
        <div><label for="sysadmin"> Sysadmin: </label></div>
        <div><input id="sysadmin" name="sysadmin" type="checkbox" th:checked="${roles.contains('System adminstrator')}"></div>

    <div><label for="sales"> Sales: </label></div>
        <div><input  id="sales" type="checkbox" name="sales" th:checked="${roles.contains('Salg')}"></div>

        <div><label for="front_desk"> Reception: </label></div>
    <div><input id="front_desk" type="checkbox" name="front_desk" th:checked="${roles.contains('Reception')}"></div>


        <div><label for="mechanic"> Mechanic: </label></div>
    <div><input id="mechanic" type="checkbox" name="mechanic" th:checked="${roles.contains('Mekaniker')}"></div>
    </div>
    <button type="submit" name="submit" value="Opdater bruger">Opdater bruger</button>
</form>

</body>
</html>