<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{../css/updateUser.css}" href="../static/css/updateUser.css">
    <title>Title</title>
</head>
<body>
<form method="post" action="/opdater-bruger">

    <input type="hidden" name="userId" th:value="${user.userId}">

    <label for="email">Email: </label>
    <input id="email" autofocus type="text" required name="email" th:value="${user.email}">

    <label for="password">Kodeord: </label>
    <input id="password" type="password" name="password" th:value="${user.password}" required>

    <label for="username">Brugernavn: </label>
    <input id="username" type="text" required name="username" th:value="${user.username}">

    <label for="firstname">Fornavn: </label>
    <input id="firstname" type="text" name="firstName" th:value="${user.firstName}">

    <label for="lastname">Efternavn: </label>
    <input id="lastname" type="text" name="lastName" th:value="${user.lastName}">

    <label for="birthdate">Fødselsdag: </label>
    <input id="birthdate" type="date" name="birthdate" required th:value="${user.birthdate}">

    <label for="address">Adresse: </label>
    <input id="address" type="text" name="address" th:value="${user.address}">

    <label for="phonenr">Telefonnummer: </label>
    <input id="phonenr" type="text" name="phoneNumber" th:value="${user.phoneNumber}">

    <label for="sysadmin"> Sysadmin: </label>
    <input class="checkbox" id="sysadmin" name="sysadmin" type="checkbox" th:checked="${roles.contains('sysadmin')}">

    <label for="sales"> Sales: </label>
    <input class="checkbox" id="sales" type="checkbox" name="sales" th:checked="${roles.contains('sales')}">

    <label for="front_desk"> Reception: </label>
    <input class="checkbox" id="front_desk" type="checkbox" name="front_desk" th:checked="${roles.contains('front_desk')}">

    <label for="mechanic"> Mechanic: </label>
    <input class="checkbox" id="mechanic" type="checkbox" name="mechanic" th:checked="${roles.contains('mechanic')}">

    <button type="submit" name="submit" value="Opdater bruger">Opdater bruger</button>
</form>

</body>
</html>