<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{../css/mainStyle.css}" href="../static/css/mainStyle.css">
    <link rel="stylesheet" type="text/css" th:href="@{../css/welcomepage.css}" href="../static/css/welcomepage.css">
    <title>Bilabonnement</title>
</head>
<body>
<nav>
    <div  th:replace="fragments/header"></div>
        <div th:if="${roles.contains('System adminstrator')}" th:insert="fragments/defaultheader"></div>
        <div th:if="${roles.contains('Reception')}" th:insert="fragments/defaultheader :: cars"></div>
        <div th:if="${roles.contains('Reception')}" th:insert="fragments/defaultheader :: leasing"></div>
        <div th:if="${roles.contains('Reception')}" th:insert="fragments/defaultheader :: customers"></div>
        <div th:if="${roles.contains('Mekaniker')}" th:insert="fragments/defaultheader :: mechanic"></div>
        <div th:if="${roles.contains('Salg')}" th:insert="fragments/defaultheader :: sales"></div>
        <div th:insert="fragments/footer"></div>
</nav>

<div class="home-section">
    <h1 th:text="'Velkommen ' + ${name}"></h1>

    <div class="panel-container">

        <div class="panel" th:if="${roles.contains('System adminstrator')}"  th:insert="fragments/sysadminpanel"></div>
        <div class="panel" th:if="${roles.contains('Reception')}"  th:insert="fragments/frontdeskpanel"></div>
        <div class="panel" th:if="${roles.contains('Mekaniker')}"  th:insert="fragments/mechanicpanel"></div>
        <div class="panel" th:if="${roles.contains('Salg')}"  th:insert="fragments/salespanel"></div>


    </div>
    <div class="alert" th:if="${errorMessage}">
        <span class="closebtn" th:text="${errorMessage}"
              onclick="this.parentElement.style.display='none';">&times;</span>
        <strong>Advarsel!</strong>
    </div>

</div>
</body>
</html>