<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Bilabonnement</title>
</head>
<body>
<nav>
    <ul>
    <div th:if="${roles.contains('sysadmin')}" th:insert="fragments/sysadminheader"></div>
    <div th:if="${roles.contains('front_desk')}" th:insert="fragments/frontdeskheader"></div>
    <div th:if="${roles.contains('sales')}" th:insert="fragments/salesheader"></div>
    <div th:if="${roles.contains('mechanic')}" th:insert="fragments/mechanicheader"></div>
    <div th:insert="fragments/defaultheader"></div>
    </ul>
</nav>
<h1 th:text="'Velkommen ' + ${name}"></h1>
</body>
</html>